---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import Card from '@/components/Card.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Label from '@/components/home/Label.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import Hitokoto from '@/components/home/Hitokoto.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import Button from '@/components/Button.astro'
import { siteConfig } from '@/site-config'
import { getAllPosts, sortMDByDate } from '@/utils'

import avatar from '@/assets/avatar.png'

const languages = [
  'Html',
  'JavaScript',
  'CSS',
  'Shell'
]
const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
const backend = ['Vercel', 'Waline']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#E72929'>
  <div class='flex w-full flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
    <section class='animate flex flex-col items-center gap-y-7'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{siteConfig.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Hanoi, Vietnam'>
            <svg class='size-5' slot='icon'>
              <use href='/icons/social.svg#mingcute-location-line'></use>
            </svg>
          </Label>
          <Label title='Github' as='a' href='https://github.com/zhaospei' target='_blank'>
            <svg class='size-5' slot='icon'>
              <use href='/icons/social.svg#mingcute-github-line'></use>
            </svg>
          </Label>
        </div>
      </div>
    </section>

    <Section title='About'>
      <p class='text-muted-foreground'>Final-year Student at UET-VNU.</p>
      <p class='text-muted-foreground'>
        I’m a final-year student, majoring in Information Technology. I'm pursuing Bachelor's Degree in Information Technology at University of Engineering and Technology (UET-VNU). Currently, I am interested in Machine Learning and hope to use artificial intelligence in medical sciences someday. I also love tinkering with software and contributing to open-source projects. And I am constantly learning and improving myself everyday.
      </p>
      <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
    </Section>

    <Section title='Education'>
      <Card
        as='a'
        heading='VNU University of Engineering and Technology'
        subheading='Full-time Undergraduate Student'
        date='August 2021 - July 2025'
        href='https://uet.vnu.edu.vn/en/'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Major:  Information Technology
          </li>
          <li> School: University of Engineering and Technology</li>
        </ul>
      </Card>
    </Section>

    {
      allPostsByDate.length > 0 && (
        <Section title='Posts'>
          <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
            {allPostsByDate.map((p) => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                <PostPreview post={p} />
              </li>
            ))}
          </ul>
          <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
        </Section>
      )
    }

    <!-- <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> -->

    

    <Section title='Website List'>
      <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
        />
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
        />
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
        />
        <ProjectCard
          href='/projects'
          heading='More projects'
          subheading='Check out more projects'
          imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
        />
      </div>
    </Section>

    <Section title='Certifications'>
      <Card
        as='a'
        heading='Lorem ipsum'
        subheading='Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio possit voluptatum. Dicat ceteros cu vim. Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.'
        date='July 2024'
        href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
      />
    </Section>

    <Section title='Skills'>
      <SkillLayout title='Languages' skills={languages} />
      <SkillLayout title='Frontend' skills={frontend} />
      <SkillLayout title='Backend' skills={backend} />
    </Section>
  </div>

  <div
    class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
  >
    <span class='relative flex items-center justify-center'>
      <span
        class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
      ></span>
      <span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
    </span>

    <Hitokoto />
  </div>
</PageLayout>
