---
import { fetchGitHubApi } from '@/utils'
export interface Props {
  owner: string
  repo: string
}

const { owner, repo } = Astro.props
const url = `https://github.com/${owner}/${repo}`
const data = await fetchGitHubApi(`https://api.github.com/repos/${owner}/${repo}`)
---

<a href={url} target='_blank' class='not-prose my-4 block'>
  <div
    class='github-card flex flex-col items-center justify-center rounded-lg bg-gray-100 p-4 dark:bg-gray-800 sm:flex-row sm:items-center'
  >
    <img
      src={data.owner.avatar_url}
      alt='avatar'
      class='mb-4 mt-0 h-12 w-12 rounded-full sm:mb-0 sm:mr-4'
    />
    <div class='flex-grow'>
      <div class='flex flex-col sm:flex-row sm:items-center sm:justify-between'>
        <h3
          class='mb-1 mt-0 text-center text-lg font-bold text-gray-900 dark:text-white sm:text-left'
        >
          {data.name}
        </h3>
        <div class='mx-auto mt-2 flex items-center sm:mx-0 sm:mt-0'>
          <span class='flex items-center text-yellow-500 mr-4'>
            <svg class='mr-1 h-4 w-4'>
              <use href='/icons/ui.svg#mingcute-star-line'></use>
            </svg>
            {data.stargazers_count}
          </span>
          <span class='flex items-center text-xs text-gray-700 dark:text-gray-400'>
            <span class='mr-2 inline-block h-3 w-3 rounded-full bg-gray-700 dark:bg-slate-100'
            ></span>
            {data.language}
          </span>
        </div>
      </div>
      <p class='mt-2 text-sm text-gray-700 dark:text-gray-400'>
        {data.description}
      </p>
    </div>
  </div>
</a>
