---
import Collapse from '@/components/Collapse.astro'
import Timeline from '@/components/Timeline.astro'
import FriendList from '@/components/links/FriendList.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import Comment from '@/components/Comment.astro'
import { siteConfig } from '@/site-config'

import links from 'public/links.json'
import '@/assets/styles/links.css'

const headings = [
  {
    depth: 2,
    slug: 'common-links',
    text: '常规友链'
  },
  {
    depth: 2,
    slug: 'special-links',
    text: '特殊友链'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: '申请友链'
  }
]

const friendlist = links.friends
---

<PageLayout title='Links' headings={headings} info='/links'>
  <p>怎么可能有顺序呢，当然是随机的~</p>
  <h2 id='common-links'>常规友链</h2>
  <FriendList list={friendlist[0]} />
  <Collapse title='不太活跃的博客'>
    <FriendList list={friendlist[1]} />
  </Collapse>
  <Collapse title='友链记录册'>
    <Timeline
      events={[
        { date: '2024-07-01', content: 'Lorem ipsum dolor sit amet.' },
        { date: '2024-07-01', content: 'vidit suscipit at mei.' },
        { date: '2024-07-01', content: 'Quem denique mea id.' },
      ]}
    />
  </Collapse>
  <FriendList list={friendlist[2]} title='特殊友链' />

  <!-- apply-links -->
  <h2 id='apply-links'>申请友链</h2>
  <p>本站信息如下：</p>
  <blockquote class='not-prose border-s-4 ps-4'>
    <p>名称：<code>{siteConfig.applyFriendTip.name}</code></p>
    <p>简介：<code>{siteConfig.applyFriendTip.slogan}</code></p>
    <p>链接：<code>{siteConfig.applyFriendTip.url}</code></p>
    <p>图标：<code>{siteConfig.applyFriendTip.avatar}</code></p>
  </blockquote>

  <p>
    申请时还请按照这个模板留言（<a
      href='https://github.com/cworld1/theme-astro-pure/blob/main/public/links.json'
      target='_blank'>提交 PR</a
    > 或许也是个更快的办法）。此外有关申请说明：
  </p>
  <ul>
    <li>在你的友链上添加了本站；</li>
    <li>请确保你的站点活着；</li>
    <li>博客内容不违反国家法律。</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
