---
import Collapse from '@/components/Collapse.astro'
import Timeline from '@/components/Timeline.astro'
import FriendList from '@/components/links/FriendList.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import Comment from '@/components/Comment.astro'
import { siteConfig } from '@/site-config'

import links from 'public/links.json'
import '@/assets/styles/links.css'

const headings = [
  {
    depth: 2,
    slug: 'common-links',
    text: 'Liên kết bạn bè thường xuyên'
  },
  {
    depth: 2,
    slug: 'special-links',
    text: 'Liên kết bạn bè đặc biệt'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: 'Đăng ký liên kết bạn bè'
  }
]

const friendlist = links.friends
---

<PageLayout title='Links' headings={headings} info='/links'>
  <p>Làm sao có thể có mệnh lệnh? Tất nhiên là ngẫu nhiên rồi ~ </p>
  <h2 id='common-links'>Liên kết bạn bè thường xuyên</h2>
  <FriendList list={friendlist[0]} />
  <Collapse title='Blog không hoạt động nhiều'>
    <FriendList list={friendlist[1]} />
  </Collapse>
  <Collapse title='Sổ ghi chép dây chuyền thân thiện'>
    <Timeline
      events={[
        { date: '2024-07-01', content: 'Lorem ipsum dolor sit amet.' },
        { date: '2024-07-01', content: 'vidit suscipit at mei.' },
        { date: '2024-07-01', content: 'Quem denique mea id.' },
      ]}
    />
  </Collapse>
  <FriendList list={friendlist[2]} title='Liên kết người bạn đặc biệt' />

  <!-- apply-links -->
  <h2 id='apply-links'>Đăng ký liên kết bạn bè  </h2>
  <p>Mẫu đăng ký:</p>
  <blockquote class='not-prose border-s-4 ps-4'>
    <p>Tên：<code>{siteConfig.applyFriendTip.name}</code></p>
    <p>Slogan：<code>{siteConfig.applyFriendTip.slogan}</code></p>
    <p>URL：<code>{siteConfig.applyFriendTip.url}</code></p>
    <p>Avatar：<code>{siteConfig.applyFriendTip.avatar}</code></p>
  </blockquote>

  <p>
    Khi ứng tuyển vui lòng để lại lời nhắn theo mẫu <a
      href='https://github.com/cworld1/theme-astro-pure/blob/main/public/links.json'
      target='_blank'>PR</a
    > này. Có lẽ đó cũng là một cách nhanh hơn). Ngoài ra, hướng dẫn ứng dụng:
  </p>
  <ul>
    <li>Đã thêm trang web này vào liên kết bạn bè của bạn;    </li>
    <li>Hãy chắc chắn rằng trang web của bạn vẫn còn sống;</li>
    <li>Nội dung blog không vi phạm luật pháp quốc gia.</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
